In [1]:
f = open('day25_input.txt')
lines = f.readlines()
f.close()

In [2]:
data_raw = [(line[0:-1]) for line in lines]
print(data_raw)

['9717666', '20089533']

In [1]:
num = 1
sub_num = 7
for n in range(1, 100):
    num = num * sub_num
    num = num%20201227
    if num == 5764801:
#     if str(num).endswith('5764801'):
        print(n)
        break
print(n)

8
8

In [2]:
num = 1
sub_num = 17807724
for n in range(1,9):
    num = num * sub_num
    num = num%20201227
num

14897079

In [21]:
num = 1
sub_num = 7
for n in range(1, 10000000):
    num = num * sub_num
    num = num%20201227
    if str(num).endswith('9717666'):
        print(n)
        print('asdf')
        break
print(n)
print(num)

4266498
asdf
4266498
19717666

In [3]:
num = 1
sub_num = 7
for n in range(1, 100000000):
    num = num * sub_num
    num = num%20201227
    if num == 9717666:
#     if str(num).endswith('9717666:'):
        print(n)
        print('asdf')
        break
print(n)
print(num)

17167199
asdf
17167199
9717666

In [5]:
num = 1
sub_num = 20089533
for n in range(1,n+1):
    num = num * sub_num
    num = num%20201227
num

19924389

In [6]:
num = 1
sub_num = 7
for n in range(1, 100000000):
    num = num * sub_num
    num = num%20201227
    if num == 20089533:
        print(n)
        print('asdf')
        break
print(n)
print(num)

19814867
asdf
19814867
20089533

In [7]:
num = 1
sub_num = 9717666
for n in range(1,n+1):
    num = num * sub_num
    num = num%20201227
num

19924389